$animation-time: 200ms;

$animation-scale-default: 1;
$animation-scale-hovered: 1.03;

// @mixin scale($scale-value: $animation-scale-default, $time: $animation-time) {
//   -webkit-transform: scale($scale-value);
//   -moz-transform: scale($scale-value);
//   -ms-transform: scale($scale-value);
//   -o-transform: scale($scale-value);
//   transform: scale($scale-value);
//   -webkit-transition: transform $time ease;
//   -moz-transition: transform $time ease;
//   -ms-transition: transform $time ease;
//   -o-transition: transform $time ease;
//   transition: transform $time ease;
// }
