$grid-row-height-default: 18.875rem;

.content-group {
  display: grid;
  grid-auto-rows: $grid-row-height-default;
}

@include media-query-tablet {
  .content-group {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25rem;
    grid-auto-flow: dense;
  }
}

@include media-query-desktop {
  .content-group {
    grid-template-columns: repeat(3, 1fr);
  }
}
