footer {
  text-align: center;
  padding: 1rem 0;
  color: $color-base;
  font-size: $font-size-m;

  .footer__links {
    font-size: $font-size-l;

    a {
      text-decoration: none;
      color: $color-base;
      padding: 1rem;
    }
  }
}

.twitter {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.facebook {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-facebook);
  }
}

.xing {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-xing);
  }
}

.instagram {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-instagram);
  }
}
