footer {
  text-align: center;
  padding: 2rem 0;
  color: $color-base;
  font-size: $font-size-m;

  .footer__links {
    font-size: $font-size-l;

    a {
      text-decoration: none;
      color: $color-base;
      padding: 1rem;
    }
  }
}

@include media-query-tablet {
  footer {
    h2 {
      text-align: center;
    }
  }
}

.instagram {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-instagram);
  }
}

.vimeo {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-vimeo-v);
  }
}

.mail {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-envelope);
  }
}
