@import './navigation.scss';

header {
  margin: 1rem auto;

  h1 {
    color: $color-base;
    font-size: $font-size-xl;
    line-height: $font-size-xl;
    padding-bottom: 0.5rem;
  }

  p {
    color: $color-base;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
  }

  nav {
    margin: 0 auto;
  }
}

@include media-query-tablet {
  header {
    position: relative;
    height: 6rem;
    margin-bottom: 1.1rem;

    h1 {
      position: absolute;
      left: 0;
      text-align: start;
      max-width: 50%;
    }

    p {
      font-size: $font-size-m;
      position: absolute;
      left: 0;
      top: 62px;
      text-align: start;
      max-width: 50%;
    }

    nav {
      position: absolute;
      right: 0;
    }
  }
}
