$breakpoint-tablet: 48rem;
$breakpoint-desktop: 72rem;
$content-width-max: 96rem;

@mixin media-query-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin media-query-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@include media-query-tablet {
  footer,
  nav {
    width: $breakpoint-tablet;
    margin: 0 auto;
  }

  header,
  .content-group,
  section {
    width: $content-width-max;
    margin: 0 auto;
  }
}
