$breakpoint-tablet: 1016px;
$breakpoint-desktop: 1524px;

@mixin media-query-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin media-query-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@include media-query-tablet {
  header,
  .content-group,
  section,
  footer,
  nav {
    width: $breakpoint-tablet;
    margin: 0 auto;
  }
}

@include media-query-desktop {
  header,
  .content-group,
  section,
  footer,
  nav {
    width: $breakpoint-desktop;
    margin: 0 auto;
  }
}
