nav {
  padding: 1rem 0 2rem 0;
  text-align: center;

  a {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-size: $font-size-m;
    border-bottom: 0.0625rem solid $color-link-default;
    color: $color-link-default;
    width: 8.125rem;
    box-sizing: border-box;

    + :not(:first-child) {
      margin-top: 1rem;
    }
  }
}

@include media-query-tablet {
  nav {
    a {
      display: inline-block;
      @include hover-clear(
        $color-link-default,
        $animation-time,
        map-get($animation-directions, "top")
      );

      + :not(:first-child) {
        margin: 0 0 0 3rem;
      }

      &:hover {
        color: $color-base-light;
        @include hover-fill(
          $color-link-default,
          $animation-time,
          map-get($animation-directions, "top")
        );
      }
    }
  }
}
