nav {
  text-align: center;
  display: flex;
  max-width: 16.25rem;

  a {
    flex: 50%;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-size: $font-size-m;
    color: $color-link-default;

    &.navigation__entry_active {
      border-bottom: 0.0625rem solid $color-base;
    }
  }
}

@include media-query-tablet {
  nav {
    padding-top: 0.625rem;

    a {
      display: inline-block;
    }
  }
}
