nav {
  text-align: center;
  display: flex;
  max-width: 16.25rem;

  a {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-size: $font-size-m;
    color: $color-link-default;
  }
}

@include media-query-tablet {
  nav {
    padding-top: 1.5rem;

    a {
      display: inline-block;
    }
  }
}
